.Card4_main_container{
    margin: 0%;
    padding: 0%;
    margin-bottom: -100px;
}
.Card4_main_container h1{
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.Card4_container{
    display: flex;
    margin-top: 0px;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 97%;
    height: 60vh;
    gap: 30px;
    margin-left: 20px;

}

.Card4_container::-webkit-scrollbar {
    display: none;
  }

  .Card4_content{
    width: 23vw;
  height: 55vh;
  background: inherit;
  position: absolute;
  overflow: hidden;
  top: 6px;
  right: 16px;
  margin-top: -6px;
  margin-right: -17px;
  border-radius: 12px;
  }

.Card4_content::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255, 227, 227, 0.2);
  backdrop-filter: blur(5px);
}

  .Card4_game{
    position: relative;
}

.Card4_game img{
    width: 103vh;
    height: 55vh;
    border-radius: 12px;
}

.Card4_name{
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    position: absolute;
    top: 8px;
    left: 5px;
    color: white;
    font-size:23px;
  word-break: break-all;
}

.Card4_genres{
    position: relative;
    top: 50px;
    left: 5px;
    color: white;
    font-size: 12px;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #e7a785;
    background-color: #e7a785;
    border-radius: 20px;
}

.Card4_video{
    position: absolute;
    top: 97px;
    width: 40vh;
    height: 25vh;
    left: 305px;
    padding: 5px ;
    padding-top: 2px;
    border: 2px solid #ffc598;
    background-color: #ffc598;
}

.Card4_video_component{
    position: absolute;
   
}

.Card4_btn{
    position: absolute;
    top: 260px;
    left: 305px;
    color: white;
    background-color: rgb(12, 103, 111);
    border: 2px solid rgb(8, 100, 108);
    padding: 6px;
    border-radius: 20px;
    cursor: pointer;
}
.Card4_btn:hover{
  color: rgb(1, 53, 67);
  background-color: rgba(255, 255, 255, 0.982);

}

@media (max-width: 1240px) {

  .Card4_content{
   width: 15vw;
}
.Card4_btn{
  top: 223px;
  left: 255px;
}
.Card4_video{
  top: 88px;
  left: 255px;
}

}

@media (min-width: 200px){

  .Card4_content{
   width: 50%;
}

}

@media(max-width:1240px){

  .Card4_game img{
    width: 119vh;
  }

  .Card4_video{
    left: 302px;
  }
  .Card4_btn{
    left: 302px;
  }

}

@media(min-width:320px)and (max-width:628px){

  .Card4_game img{
    width: 57vh;
    height: 32vh;
  }
 .Card4_content{
  height: 32vh;
  margin-bottom: -20px;
 }
 .Card4_name{
  font-size: 15px;
 }
 .Card4_genres{
  font-size: 8px;
  margin-top: -15px;
 }
  .Card4_video{
    left: 150px;
    top: 60px;
    height: 12vh;
    width: 19vh;
  }
  .Card4_btn{
    left: 151px;
    top: 125px;
    font-size: 8px;
  }
  .Card4_container{
    margin-left: 5px;
    margin-bottom: -100px;
  }
  /* .Card4_main_container h1 {
    font-size: 20px;
  } */

}
@media (max-width:550px)and (max-height:1000px) {
  .Card4_main_container{
      margin-bottom: -200px;
      margin-left: -10px;
  }
  .Card4_content{
    width: 50%;
    height: 250px;
  }
  .Card4_game img{
    width: 380px;
    height: 250px;
    margin-left: 20px;
  }
  .Card4_main_container{
    /* margin-bottom: -270px; */
  }
  .Card4_video{
    left: 210px;
    top: 70px;
  }
  .Card4_btn{
    left: 210px;
    top: 200px;
  }
}
